body {
    background: #f0f0f0;
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.container {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 10px;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

li {
    margin-top: 10px;
    cursor: pointer;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}
